.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Secrets.plist
Secrets.xcconfig
Secrets.json
GoogleService-Info.plist
Configuration/Secrets.plist
Configuration/Secrets.xcconfig
*.xcuserstate
